

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 105px;
  background-color: #2a2a2a;
}

header {
  padding-right: 20px;
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  min-width: 1100px;
}

.header_principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 50px;
}

.header_principal ul li {
  display: inline-block;
  margin: 12px;
  text-transform: uppercase;
}

.header_principal a {
  list-style-type: none;
  text-decoration: none;
  color: #fed001;
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  font-weight: 600;
}

.header_principal li {
  border: solid 0.1px #fed001;
  padding: 6px;
}

.section {
  padding-left: 30px;
  background-image: linear-gradient(to bottom, #fffff2c5, #ffff6b);
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  min-width: 1100px;
}

.section_principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section_item {
  display: block;
  text-align: center;
}

.text_section {
  display: inline-block;
  text-align: center;
  font-size: 50px;
  line-height: 55px;
  padding-bottom: 20px;
  font-weight: 700;
}

.btn {
  display: flex;
  cursor: pointer;
  font-size: 15px;
  background-color: #fed001;
  padding: 15px 15px;
  border-radius: 10%;
  border: solid 1px yellow;
  font-weight: 600;
}

.heroimg {
  width: 700px;
  height: 600px;
}

.text_principal {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: 30px;
  font-weight: 750;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  min-width: 1100px;
  font-weight: 900;
}

.aside_img {
  width: 343px;
}

.aside_sub {
  background-color: #ffffff04;
  margin: 12px;
  box-shadow: 0 0 10px rgba(19, 18, 18, 0.349);
  border-radius: 10px;
  height: 370px;
  max-width: 346px;
}

.section_aside {
  margin: 1px;
  padding: 1px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  min-width: 1101px;
}

.card_item{
  padding: 10px;
  font-size: 20px;
  text-align: left;
  font-weight: 900;
  letter-spacing: 1px;
  padding-left: 18px;
}

.card_item_text{
  text-align: left;
  padding: 18px 0 0 18px;
  line-height: 25px;
  padding-top: 10px;

}

.btn_item{
  background-color: #fed001;
  font-weight: 600;
  font-size: 18px;
  margin: 50px auto;
  padding: 25px;
  width: 200px;
  display: flex;
  border-radius: 5%;
  border: solid 1px yellow;
  cursor: pointer;
  margin-bottom: 130px;
}

.img_nossaescola{
  width: 560px;
  height: 440px;
  padding-left: 10px;
}
.nossa_escola{
  background-color: #003464;
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  min-width: 1100px;
  font-weight: 300;
}

.text_nossa_escola_text{
  color: #ffffff;
  padding-left: 50px;
  text-align: left;
  max-width: 500px;
  min-width: 500px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  padding-bottom: 35px;
}

.nossa_escola{
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.text_nossa_escola{
  color: #ffffff;
  padding: 70px;
  padding-left: 50px;
  font-size: 50px;
  font-weight: 600;
}

.contatos{
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: 30px;
  font-weight: 750;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  min-width: 1100px;
  font-weight: 900;


}