

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 105px;
  background-color: #2a2a2a;
}

header {
  padding-right: 20px;
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  min-width: 1100px;
}

.header_principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 50px;
}

.header_principal ul li {
  display: inline-block;
  margin: 12px;
  text-transform: uppercase;
}

.header_principal a {
  list-style-type: none;
  text-decoration: none;
  color: #fed001;
  font-size: 12px;
  margin: 5px;
  padding: 5px;
}

.header_principal li {
  border: solid 0.1px #fed001;
  padding: 6px;
}

.section {
  padding-left: 30px;
  background-image: linear-gradient(to bottom, #fffff2c5, #ffff6b);
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  min-width: 1100px;
}

.section_principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section_item {
  display: block;
  text-align: center;
}

.text_section {
  display: inline-block;
  text-align: center;
  font-size: 50px;
  line-height: 55px;
  padding-bottom: 20px;
  font-weight: 700;
}

.btn {
  display: flex;
  cursor: pointer;
  font-size: 15px;
  background-color: #fed001;
  padding: 15px 15px;
  border-radius: 10%;
  border: solid 1px yellow;
  font-weight: 600;
}

.heroimg {
  width: 700px;
  height: 600px;
}

.div_h {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: 30px;
  font-weight: 750;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  min-width: 1100px;
}

.aside_img {
  width: 345px;
}

.aside_sub {
  background-color: #fdf8f8;
  margin: 10px;
}

.section_aside {
  margin: 1px;
  padding: 1px;
  display: flex;
  text-align: center;
  flex-grow: 1;
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  min-width: 1101px;
}
